body{
	margin: 0 auto;
	background-image: url("../img/background.jpeg");
	background-size: cover;
	font-family: arial;
}
header{
	text-align: center;
	color: white;
	background-color: #6AD2F3;
	padding: 0.01em;
}
#user, #form{
	display: inline-block;
	background-color: white;
	width: 35em;
	height: 20em;
}
#user{
	margin-left: 5em;
	margin-top: 5em;
}
#user h3{
	margin-top: 2em;
	margin-bottom: 2em;
}
#user h3, p{
	display: block;
	margin-left: 3em;
}
#form{
	margin-left: 1em;
}
#comment{
	width: 40em;
	height: 5em;
	margin: 0.3em;
	border: none;
	border-bottom: 2px solid grey;
}
button{
	background-color: #6AD2F3;
	color: white;
	border: none;
	border-radius: 0.2em;
	height: 2em;
	width: 5em;
	font-size: 1em;
	margin-left: 2em;
	margin-right: 20em;
}
.post{
	background-color: white;
	font-size: 1em;
	width: 87%;
	margin-left: 5em;
	border-radius: 0.2em;
	padding: 0.5em;
	margin-top: 1em;
}
span{
	color: #6AD2F3;
}
.red{
	color: red;
}